name: Cache Dependencies

on:
  push:
    branches:
      - master

jobs:
  cache-dependencies:
    runs-on: ubuntu-24.04
    name: Cache Dependencies
    steps:
      - name: Checkout code
        uses: actions/checkout@v5
      - name: Setup Node.js for use with actions
        uses: actions/setup-node@v6
        with:
          node-version: 22.21
      - name: Setup dependency cache
        uses: actions/cache@v4
        id: cache
        with:
          path: functions/node_modules
          key: node-${{ hashFiles('functions/package-lock.json') }}
      - name: Install dependencies
        if: ${{ steps.cache.outputs.cache-hit != 'true' }}
        run: npm ci
        working-directory: functions
