name: CI

on:
  pull_request:
    branches:
      - master

jobs:
  ci:
    runs-on: ubuntu-24.04
    name: CI
    steps:
      - name: Configure Git
        run: |
          git config --global core.autocrlf false
          git config --global core.eol lf
      - name: Checkout code
        uses: actions/checkout@v5
      - name: Setup Node.js for use with actions
        uses: actions/setup-node@v4
        with:
          node-version: 22.21
      - name: Setup dependency cache
        id: cache
        uses: actions/cache@v5
        with:
          path: functions/node_modules
          key: node-${{ hashFiles('functions/package-lock.json') }}
      - name: Install dependencies
        if: ${{ steps.cache.outputs.cache-hit != 'true' }}
        run: npm ci
        working-directory: functions
      - name: Lint code
        run: npm run lint:code
        working-directory: functions
      - name: Lint styling
        run: npm run lint:style
        working-directory: functions
      - name: Run unit tests
        run: npm run test:unit:coverage
        working-directory: functions
